#dashboard-container{
  width: 25%;
  position: sticky;
  min-width: 210px;
  /* margin-top: 5px; */
  /* background-color: black; */
  /* border-right:1px solid rgb(116, 114, 114); */
}
#dashboard-wrapper{
  display: flex;
  position: static;
  margin:5px 10px 0px 0px ;
  background-color: rgb(11, 20, 22);
  border-radius: 20px;
  height: 100%;
  /* background-color: black; */
  flex-direction: column; 
}