#forum-header{
  background-color: transparent;
  width: 80%;
  height: 40px;
  display: flex;
  flex-direction: row;
}
#forum-header-left{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 5px;
}
#forum-header-right{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  column-gap: 5px;
  cursor: pointer;
}
#forum-header-left .forum-header-dropdown, #post-type{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
#forum-header-left .forum-header-dropdown .dropbtn:hover, #post-type button:hover{
  background-color: rgba(107, 107, 107, 0.421);
}
.forum-header-dropdown .dropbtn,#post-type button{
  border-radius:20px;
  border: none;
  height: 80%;
  width: auto;
  cursor: pointer;
  background-color: transparent;
  padding:0px 10px 0px 10px;
}

#dropdown-content{
  position:absolute;
  top: 50px;
  background-color: rgb(39, 36, 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dropdown-content div{
  padding: 5px 10px 5px 10px;
}

#forum-header-right img{
  width: 20px;
  height: 20px;
  align-self: center;
}
#forum-header-right span{
  font-weight: 400;
  font-size: large;
  align-self: center;
}


