#forum-header{
  /* position: sticky; */
  /* z-index: 2; */
  display: flex;
  width: 65%;
  height: 40px;
  flex-direction: row;
  padding: 2px 20px 2px 10px;
  margin: 0px auto 0px auto;
  background-color: #0b1416;
  border-radius: 20px;
  margin-bottom: 5px;
}
#forum-header-left{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 5px;
}
#forum-header-right{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  column-gap: 5px;
}
#forum-header-left .forum-header-dropdown, #post-type{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
#forum-header-left .forum-header-dropdown .dropbtn:hover, #post-type button:hover{
  background-color: rgba(107, 107, 107, 0.421);
}
.forum-header-dropdown .dropbtn,#post-type button{
  border-radius:20px;
  border: none;
  height: 80%;
  color: rgba(255, 255, 255, 0.754);
  width: auto;
  cursor: pointer;
  background-color: transparent;
  padding:0px 10px 0px 10px;
}

#dropdown-content{
  position:absolute;
  z-index: 2;
  top: 100%;
  background-color: rgb(45, 45, 45);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 4px 1px rgba(31, 31, 31, 0.772);
}
#dropdown-content div{  
  padding: 5px 10px 5px 10px;
}
.filter-options{
  cursor: pointer;
  transition: 0.1s;
  color: rgba(255, 255, 255, 0.837);
}
#dropdown-content div:hover{
  background-color: rgba(87, 85, 85, 0.749);
}

#forum-header-right img{
  width: 20px;
  height: 20px;
  align-self: center;
  cursor: pointer;
}
#forum-header-right span{
  font-weight: 400;
  font-size: large;
  align-self: center;
  cursor: pointer;
}


