#navbar{
  position: sticky;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height:7% ;
  /* padding-top: 3px; */
  border-bottom: solid 1px rgba(161, 158, 158, 0.659) ;
}
#navbar-isForm{
  position: sticky;
  display: grid;
  width: 100%;
  height:7% ;
  justify-content: center;
  border-bottom: solid 1px rgba(161, 158, 158, 0.659) ;
}
a{
  text-decoration:none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
a:active{
  display: flex;
  align-items: center;
}
#nav-left{
  height: 50px;
}
#nav-left-isForm{
  justify-content: center;
}
img.logo{
  height: 50px;
  object-fit: contain;
}
img.name{
  position: relative;
  top: -20%;
  height: 30px;
}

#search-bar-wrapper{
  width: 100%;
  display: flex;
  max-width: 600px;
  flex-direction: row;
  /* border: solid rgba(255, 255, 255, 0.38) 1px; */
  border-radius: 20px;
  padding: 0;
  background-color: rgba(76, 76, 76, 0.43);
  margin:5px 0 5px 0; 
}

#search-bar{
  width: 100%;
  max-width: 600px;
  height: 90%;
  padding: 2px 4px 2px 4px;
  border: none;
  background-color: transparent;
}
#search-bar:focus{
  outline: none;

}
#search-icon{
  width: 15px;
  align-self: center;
  margin: 0 3px 0 3px;
  margin-left: 10px;
}
.nav-icon{
  width: 25px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
}
.nav-icon:hover{
  background-color: rgba(92, 91, 91, 0.46);
}
#nav-right{
  position: relative;
  display: flex;
  /* padding-right: 20px; */
  flex-direction: row;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
}