#postcard-container{
  position: relative;
  width: 80%;
  display: flex;
  border: 1px solid rgba(3, 62, 66, 0.329);
  flex-direction: column;
  height:auto;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgba(54, 54, 55, 0.436);
}
#postcard-container:hover{
  cursor: pointer;
  background-color: #0b1416;
}

.post-header-wrapper{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.688);
}
.post-header-left{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  column-gap: 5px;
  width: 60px;
}
.post-body-wrapper{
  display: flex;
  flex-direction: column;
}
.post-title{
  padding: 10px 0px 0px 0px;
  font-weight: bold;
  font-size: larger;
}
.post-pfp{
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-pfp img{
  width: 30px;
  margin: auto;
  align-self: center;
}
.post-username{
  margin: auto;
  font-size: small;
}
.post-content{
  position: relative;
  z-index: 1;
  padding: 10px 0px 10px 0px;
}
.post-photo{
  display: flex;
  position: relative;
  border-radius: 20px;
  /* max-width: 50%; */
  /* padding: 1px 0px; */
  overflow: hidden;
  z-index: 1;
  justify-content: center;
  /* background-color: transparent; */
  /* overflow-y: hidden; */
  /* background-color: #212525; */
}

.post-photo:hover{
  background-color: rgba(54, 54, 55, 0.436);
  
}
/* #post-background-photo {
  position: absolute;
  width: 100%;
  z-index: -1 ;
} */
.post-photo #post-foreground-photo{
  height: 40vh;
  max-height: 90%;
  max-width: 100%;
  z-index: 1;
  /* border-radius: 5px; */
  object-fit: contain;
  
}

.post-header-right{
  position: relative;
  display: flex;
  /* flex-direction: row; */
  justify-content:flex-end;
  column-gap: 5px;
  width: 10%; 
}
.post-header-right img{
  width: 20px;
  object-fit: contain;
}
.post-footer-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 20px;
  margin-top: 5px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.688); */
}
.post-icons{
  display: flex;
  justify-content: center;
  justify-items: center;
  column-gap: 5px;
  margin-top: 5px;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  background-color: rgba(80, 80, 113, 0.649);
}
#post-likes:hover{
  /* border: 1px solid rgba(255, 0, 93, 0.446); */
  background-color: rgba(252, 58, 87, 0.844);
  transition: 0.2s;
  box-shadow: 0px 0px 2px 1px rgba(251, 77, 140, 0.446);
}
.post-icons img{
  width: 20px;
  object-fit: contain;
}
.post-icons:hover{
  background-color:rgba(59, 59, 81, 0.653)
}