.video-box-m, .video-box-fs{
  position: fixed;
  display: flex;
  /* overflow: hidden; */
  left: 0px;
  top: 0px;
  width: 400px;
  min-width: 400px;
  border: 1px white solid;
}
#localVideo{
  position: relative;
  width: 90%;
  height: 80%;
  justify-self: center;
}