/* .video-box-m, .video-box-fs{
  display: flex;
  left: 0px;
  top: 0px;
  width: 400px;
  min-width: 400px;
  border: 1px white solid;
} */
/* #localVideo{ */
  /* position: relative; */
  /* width: 50%;
  height: 30%; */
  /* justify-self: center; */
/* } */

#video-container {
  position: fixed;
  display: flex;
  width: 90%;
  left : 0px;
  top:0px;
  height: 90%;
  left: 5%;
  top: 5%;
  /* height: 100%; */
  background-color: black;
  border: solid white 1px;
  border-radius: 20px;
}
.video-box{
  position: relative;
  width: 50%;
  margin: 20px 5px 20px 5px;
  background-color: rgb(36, 36, 70);
  /* border: solid 1px white; */
  border-radius: 20px;
}
.video-controls {
  position: absolute;
  width: 100%;
  display: none;
  height: 12%;
  background-color: rgba(0, 0, 0, 0.77);
  box-shadow: 0px -10px 5px 0px rgba(0, 0, 0, 0.77);
  bottom: 0px;
  border-radius: 0px 0px 20px 20px;
  transition-delay: 1s;
}
.video-box>video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.video-close-btn{
  position: absolute;
  z-index: 2;
  background:none;
  border: none;
  right: 0px;
  cursor: pointer;
}
#hang-up{
  position: relative;
  background-color: rgba(245, 73, 73, 0.863);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: auto;
  top: 5px;
  cursor: pointer;
}
#hang-up:hover {
  box-shadow: 0px 0px 20px 1px  rgba(245, 73, 73, 0.863);
}